<!--/* $Id$ */-->
<body th:with="gtid = ${@environment.getProperty('gtid')}">
<!--[if lte IE 9]>
<p class="browserupgrade">
You are using an <strong>outdated</strong> browser. Please
<a href="https://browsehappy.com/">upgrade your browser</a> to improve your
experience and security.
</p>
<![endif]-->
  <th:block th:insert="~{${#execInfo.templateName + '/header'}}"/>
  <th:block th:insert="~{${#execInfo.templateName + '/main'}}"/>
  <th:block th:insert="~{${#execInfo.templateName + '/aside'}}"/>
  <th:block th:insert="~{${#execInfo.templateName + '/footer'}}"/>
  <th:block th:insert="~{${#execInfo.templateName + '/scripts'}}"/>
  <th:block th:if="${gtid != null}"
            th:insert="~{${#execInfo.templateName + '/gtid'}}"/>
</body>
