<!--/* $Id$ */-->
<footer>
  <nav>
    <span th:text="${#request.servletPath}"/>
    <span>
      <a th:classappend="${page == null} ? disabled"
         th:href="@{''(page=${1})}"
         th:text="'|<'"/>
      <a th:classappend="${! (page != null && page.hasPrevious())} ? disabled"
         th:href="@{''(page=${(page != null) ? (page.number + 0) : 1})}"
         th:text="'<'"/>
      <th:block th:text="${page != null ? (page.number + 1) : '#'}"/>
      <a th:classappend="${! (page != null && page.hasNext())} ? disabled"
         th:href="@{''(page=${(page != null) ? (page.number + 2) : 1})}"
         th:text="'>'"/>
      <a th:classappend="${page == null} ? disabled"
         th:href="@{''(page=${page?.totalPages > 0 ? page.totalPages : 1})}"
         th:text="'>|'"/>
    </span>
    <span>
      <th:block sec:authorize="isAuthenticated()">
        <span sec:authentication="name"/>
        <span sec:authentication="authorities"/>
      </th:block>
    </span>
  </nav>
</footer>
