<!DOCTYPE html>
<!--/* $Id$ */-->
<html xmlns:th="http://www.thymeleaf.org"
      th:xmlns="@{http://www.w3.org/1999/xhtml}"
      th:with="brand = ${@environment.getProperty('application.brand')},
               stylesheets = ${@environment.getProperty('css')},
               scripts = ${@environment.getProperty('js')},
               gaid = ${@environment.getProperty('gaid')},
               gtid = ${@environment.getProperty('gtid')}">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>

    <th:block th:if="${stylesheets != null}">
      <th:block th:each="css : ${#strings.arraySplit(stylesheets, ',')}">
        <link rel="stylesheet" th:href="@{${css.trim()}}"/>
      </th:block>
    </th:block>

    <th:block th:if="${gaid != null}">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
                    th:text="''"/>
      <script th:inline="javascript">
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: [[${gaid}]],
        enable_page_level_ads: true
        });
      </script>
    </th:block>
  </head>
  <body>
    <!--[if lte IE 9]>
<p class="browserupgrade">
You are using an <strong>outdated</strong> browser. Please
<a href="https://browsehappy.com/">upgrade your browser</a> to improve your
experience and security.
</p>
    <![endif]-->

    <header class="navbar navbar-dark fixed-top bg-dark text-white">
      <nav>
        <a th:href="@{/}" th:text="${brand ?: 'Home'}"/>
        <th:block th:if="${template != null}">
          <th:block th:insert="~{${template + '/menu'}}"/>
        </th:block>
      </nav>
    </header>
    <main>
      <th:block th:if="${exception != null}">
        <th:block th:insert="~{${#execInfo.templateName + '/exception'}}"/>
      </th:block>
      <th:block th:unless="${exception != null}">
        <th:block th:switch="${#request.servletPath}">
          <th:block th:case="'/error'"
                    th:insert="~{${#execInfo.templateName + '/error'}}"/>
          <th:block th:case="*">
            <th:block th:if="${template != null}">
              <th:block th:insert="~{${template + '/main'}}"/>
            </th:block>
          </th:block>
        </th:block>
      </th:block>
    </main>
    <th:block th:insert="~{${#execInfo.templateName + '/footer'}}"/>
<!--/*
<script th:src="@{/webjars.js}" th:text="''"/>
<script data-main="/js/app" th:src="@{/webjars/requirejs/require.min.js}" th:text="''"/>
*/-->
    <script th:src="@{/js/plugins.js}" th:text="''"/>

    <th:block th:if="${scripts != null}">
      <th:block th:each="script : ${#strings.arraySplit(scripts, ',')}">
        <script th:src="@{${script.trim()}}" th:text="''"/>
      </th:block>
    </th:block>

    <th:block th:if="${gtid != null}">
      <script async th:src="${'https://www.googletagmanager.com/gtag/js?id=' + gtid}"
                    th:text="''"/>
      <script th:inline="javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', [[${gtid}]]);
      </script>
    </th:block>
  </body>
</html>
