<!DOCTYPE html>
<!--/* $Id$ */-->
<html xmlns:th="http://www.thymeleaf.org" th:xmlns="@{http://www.w3.org/1999/xhtml}">
  <head th:with="gaid = ${@environment.getProperty('gaid')}">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title th:if="${title != null}" th:text="${title}"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <meta th:replace="~{${template}::head/meta} ?: ~{}"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link th:replace="~{${template}::head/link} ?: ~{}"/>
    <script th:replace="~{${template}::head/script} ?: ~{}"/>
    <th:block th:if="${gaid != null}" th:insert="~{google-adsense}"/>
  </head>
  <body th:with="gtid = ${@environment.getProperty('gtid')}">
    <!--[if lte IE 9]>
      <p class="browserupgrade" th:utext="#{browserupgrade}"/>
    <![endif]-->
    <header th:replace="~{${template}::body/header[0]} ?: ~{}"/>
    <th:block th:unless="${#ctx.containsVariable('exception')}"
              th:switch="${#request.servletPath}">
      <div th:case="'/error'">
        <section>
          <h1 th:text="${#request.getAttribute('javax.servlet.error.request_uri')}"/>
          <h2 th:text="${#request.getAttribute('javax.servlet.error.status_code')}"/>
          <p th:text="${#request.getAttribute('javax.servlet.error.message')}"/>
        </section>
      </div>
      <th:block th:case="*">
        <main th:replace="~{${template}::body/main[0]} ?: ~{}"/>
        <aside th:replace="~{${template}::body/aside[0]} ?: ~{}"/>
      </th:block>
    </th:block>
    <div th:if="${#ctx.containsVariable('exception')}">
      <section>
        <h1 th:text="${#request.getAttribute('javax.servlet.error.request_uri')}"/>
        <p th:text="${exception.message}"/>
      </section>
    </div>
    <footer th:replace="~{${template}::body/footer[0]} ?: ~{}"/>
    <script th:replace="~{${template}::body/script} ?: ~{}"/>
    <th:block th:if="${gtid != null}" th:insert="~{google-analytics}"/>
  </body>
</html>
